---
import BaseLayout from "../layouts/base.astro";
import WIP from "../components/wip.astro";
---

<BaseLayout>
  <p>
    This is a test site for the WP Engine Headless Platform. It is built using
    Astro, various pages implement different features to test the platform.
  </p>

  <WIP />
</BaseLayout>
