---
import Feedback from "../components/feedback.astro";
import { Image, Picture } from "astro:assets";
import BaseLayout from "../layouts/base.astro";
import Cat from "../assets/cat.jpg";

export const prerender = false; // SSR generation
---

<BaseLayout>
  <section slot="overview">
    <h2>Image Service</h2>
    <p>
      This page implements the Astro image service. It uses the <code
        >astro:assets</code
      > package to image from various sources and optimize them for the web.
    </p>
  </section>
  <section>
    <Image
      src="/cute_cat.jpg"
      alt="A cat"
      width={400}
      height={400}
      loading={"lazy"}
    />

    <Image
      src={Cat}
      alt="A cat"
      widths={[240, 540, 720, Cat.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Cat.width}px`}
      loading={"lazy"}
    />

    <Image
      src="https://upload.wikimedia.org/wikipedia/commons/7/74/A-Cat.jpg"
      alt="A cat"
      widths={[240, 540, 720, 1280]}
      inferSize
      loading={"lazy"}
      format="avif"
    />

    <Picture
      src={Cat}
      alt="A cat"
      formats={["avif", "webp", "jpg"]}
      loading={"lazy"}
      decoding={"async"}
    />
  </section>
  <Feedback
    good={[
      "The images are served!",
      "Cache-Control headers are set!",
      "Images are not written to the filesystem. Only cached by the CDN",
      "Works with both static pages and server-side rendered pages.",
    ]}
    warning={[]}
    bad={[]}
  />
</BaseLayout>
