---
import Feedback from "../components/feedback.astro";
import BaseLayout from "../layouts/base.astro";

export const prerender = true; // Static site generation
---

<BaseLayout>
  <section slot="overview">
    <h2>Static Page</h2>
    <p>
      This is a test site for the WP Engine Headless Platform. It is built using
      Astro, various pages implement different features to test the platform.
    </p>
    <p>This page is a static page. It is generated at build time.</p>
  </section>

  <Feedback
    good={["The page is served!"]}
    warning={[
      "The page's default `Cache-Control` headers are `public, max-age=0`. Meaning no caching is happening on this static page.",
    ]}
    bad={[]}
  />
</BaseLayout>
