---
import Feedback from "../components/feedback.astro";
import BaseLayout from "../layouts/base.astro";

export const prerender = false; // Server-side rendering

let counter = (await Astro.session?.get("counter")) || 0;

counter += 1;

Astro.session?.set("counter", counter);
---

<BaseLayout>
  <section slot="overview">
    <h2>Server with Sessions</h2>
    <p>
      This page is a server-side rendered page. It is generated on the server
      and sent to the client. The page has `Cache-Control` headers set to allow
      caching.
    </p>
  </section>

  <section>
    <h3>Session Counter:</h3>
    <p>{counter}</p>
  </section>

  <Feedback
    good={["Sessions work!"]}
    bad={[
      'Sessions based on the filesystem `driver: "fs"` may appear to work but are not persistent or consistent if your application is scaling across multiple containers. Using external session storage like Redis is recommended.',
    ]}
    reading={[
      "https://docs.astro.build/en/reference/configuration-reference/#sessiondriver",
    ]}
  />
</BaseLayout>
