---
import Feedback from "../components/feedback.astro";
import Wip from "../components/wip.astro";
import BaseLayout from "../layouts/base.astro";

export const prerender = false; // Server-side rendering

let counter = 0;

if (Astro.cookies.has("counter")) {
  const cookie = Astro.cookies.get("counter");
  const value = cookie?.number();
  if (value !== undefined && !isNaN(value)) counter = value + 1;
}

Astro.cookies.set("counter", String(counter));
---

<html>
  <h1></h1>

  <BaseLayout>
    <section slot="overview">
      <h2>Server with Cookies</h2>
      <p>
        This page is a server-side rendered page that uses cookies to increment
        a counter every load. Deleting the cookie will reset the counter.
      </p>
    </section>

    <section>
      <h3>Counter:</h3>
      <p>{counter}</p>
    </section>

    <Feedback good={["The Cookie is correctly set from the server-side!"]} />
  </BaseLayout>


</html>
