---
import Feedback from "../components/feedback.astro";
import BaseLayout from "../layouts/base.astro";

export const prerender = false; // Server-side rendering
---

<BaseLayout>
  <section slot="overview">
    <h2>Server-side Rendering</h2>
    <p>
      This page is a server-side rendered page. It is generated on the server
      and sent to the client. The page has no `Cache-Control` headers set.
    </p>
  </section>

  <Feedback
    good={["The page is served!"]}
    warning={[
      "For SSR pages `Cache-Control` headers are unset by default. Meaning no caching is happening on this Server Rendered page.",
    ]}
    bad={[]}
  />
</BaseLayout>
