---
import Wip from "../components/wip.astro";
import BaseLayout from "../layouts/base.astro";

export const prerender = false; // Server-side rendering
---

<BaseLayout>
  <p>
    This is a test site for the WP Engine Headless Platform. It is built using
    Astro, various pages implement different features to test the platform.
  </p>

  <Wip < BaseLayout /></BaseLayout
>
