---
import { marked } from "marked";
const { bad, good, warning, reading } = Astro.props;
---

<section>
  {
    good?.length > 0 && (
      <section>
        <h4 style="color: green">✅ Good:</h4>
        <ul>
          {good.map((item) => (
            <li set:html={marked.parse(item)} />
          ))}
        </ul>
      </section>
    )
  }
  {
    warning?.length > 0 && (
      <section>
        <h4 style="color: orange;">⚠️ Warning:</h4>
        <ul>
          {warning.map((item) => (
            <li set:html={marked.parse(item)} />
          ))}
        </ul>
      </section>
    )
  }
  {
    bad?.length > 0 && (
      <section>
        <h4 style="color:red;">⛔️ Bad:</h4>
        <ul>
          {bad.map((item) => (
            <li set:html={marked.parse(item)} />
          ))}
        </ul>
      </section>
    )
  }
  {
    reading?.length > 0 && (
      <section>
        <h4>ℹ️ More Reading:</h4>
        <ul>
          {reading.map((item) => (
            <li set:html={marked.parse(item)} />
          ))}
        </ul>
      </section>
    )
  }
</section>
