<header>
  <h1>Astro | WP Engine Headless Platform Test Site</h1>
  <nav>
    <ul>
      <li><a href="/">Static</a></li>
      <li><a href="/ssr">Server</a></li>
      <li><a href="/client">Client only</a></li>
    </ul>
  </nav>
</header>
<main>
  <slot />
</main>
<footer>
  <p>Powered by Astro</p>
  <p>Generator: {Astro.generator}</p>
</footer>
