---
import "@picocss/pico";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | WP Engine Headless Platform Test Site</title>
  </head>
  <body class="container">
    <header>
      <h1>Astro | WP Engine Headless Platform Test Site</h1>
      <nav>
        <ul>
          <li><a href="/static">Static Pages</a></li>
          <li><a href="/static-assets">Static Assets</a></li>
          <li><a href="/island">Island Architecture</a></li>
          <li><a href="/ssr">Server</a></li>
          <li><a href="/ssr-w-headers">Server with Headers</a></li>
          <li><a href="/ssr-w-cookies">Server with Cookies</a></li>
          <li><a href="/ssr-w-sessions">Server with Sessions</a></li>
          <li><a href="/middleware">Middleware</a></li>
          <li><a href="/image-service">Image Service</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot name="overview" />
      <hr />
      <section class="grid">
        <slot />
      </section>
    </main>
    <footer>
      <p>Powered by Astro</p>
      <p>Generator: {Astro.generator}</p>
    </footer>
  </body>
</html>

<style>
  main {
    /* display: flex;
    flex-direction: column; */
    gap: 1rem;
  }

  nav ul {
    flex-wrap: wrap;
  }
</style>
